// color palette - these colors will be the color swatches of the Colors section
$color-1: #8ebf80; // Pistachio - Action color
$color-2: #BADFBE; // Turquoise Green
$color-3: #01130B; // Dark Jungle Green
$color-4: #2B4F31; // Hunter Green
$color-5: #ffffff; // white
$color-6: #ef233c; // red
// additional colors
$success: #6fce72; // green
$alert: $color-3; // red
// fonts
$primary-font: 'Lora',
serif;
$secondary-font: 'Bilbo',
cursive;